*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

  --main-color:rgb(51, 158, 58);


}

@font-face {
  font-family: Aldo;
  src: url("./AldotheApache.ttf");
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    padding-inline: 20px;
    background-color: var(--main-color);
}

.headerContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name{
  font-family: Aldo;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

.links{
  
}